*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
expe*
old_files
# *.sh
*.ipynb
*.txt
*.log
*.out
__pycache__
*.npy
# COLMAP processing results
*_colmap/

# Submodule build files
submodules/*/build/
submodules/*/*.egg-info/
submodules/*/dist/

scripts/
data
results
